# Example apache configuration for a backdrop CMS website.
#
# For more information (or to report issues) go to
# https://github.com/danieljrmay/backdrop-rpm

<VirtualHost *:80>
    DocumentRoot "/usr/share/backdrop"
    ServerName www.example.org

    <Directory "/usr/share/backdrop">
        AllowOverride All
    </Directory>
</VirtualHost>
